<% layout("layouts/boilerplate.ejs") %>


<body class="bg-light d-flex flex-column justify-content-center align-items-center vh-100">
  <div class="text-center">
    <h1 class="display-1 text-danger">Oops!</h1>
    <h2 class="mb-4"><%= err.statusCode%> - <%= err.message%></h2>
    <a href="/" class="btn btn-primary">Go Home</a>
  </div>
  </body>

